body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(225, 224, 224);
    font-family: sans-serif;
}
main{
    padding: 50px;
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1rem;
}

/* HEAD > INPUTS, RESUME -------------------------------- */
.head{
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 10px;
    border: 1px solid rgb(22, 22, 22);
}

/* INPUTS ---------------------------------------------- */
.inputs-container{
    grid-column: 1/1;
    width: 100%;
    border-right:1px solid rgb(22, 22, 22);
    padding-right: 15px;
}
.inputs-container h2{
    color: rgb(27, 27, 27);
}
.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
}
.formulario div input{
    padding: 5px; 
}

.formulario-categoria{
    display: flex;
    flex-direction: column;
}
.formulario-categoria label{
   font-size: .8rem;
   padding: 5px 0;
}
.formulario-categoria select{
    background-color: rgb(243, 243, 243);
    padding: 5px;
    border: 1px solid rgb(127, 127, 127);
    border-radius: 2px;
}
.btn-add-categoria{
    border: none;
    text-align: left;
    background-color: transparent;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
}
.btn-add-categoria i{
    font-size: 1.4em;
}
.btn-add-categoria:hover i{
    color: blueviolet;
}

.input-search-wrapper{
    display: flex;;
}

.input-nueva-categoria{
    width: 100%;
}
.input-search-wrapper > button{
    border: 1px solid rgb(127, 127, 127);
    width: 30px;
}

.toggle{
    display: none;
}



.submit-btn{
    padding: 12px 16px;
    text-transform: uppercase;
    background-color: rgb(14, 14, 14);
    color: beige;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: rgb(72, 71, 71);
}

/* RESUME ---------------------------------------------- */
.resume-container{
    grid-column: 2/3;
    width: 100%;
    margin-left: 30px;
}
.resume-container h2{
    color: rgb(27, 27, 27);
}

/* TABLA ---------------------------------------------- */
.table-container{
    width: 500px;
}
.tabla{
    width: 100%;
    border-collapse: collapse;
    
    
}
.tabla, th, td{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    
}
tr > th{
    font-weight: 400;
    font-size: .9rem;
    color: rgb(255, 255, 255);
}

thead{
    background-color: rgb(66, 66, 66);
}
tbody{
    background-color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: .8rem;
}


/* CLASSLIST ADD --------------------------------------- */
.red{
    /* background-color: rgb(254, 214, 214); */
    color: red;
    /* color: #ffb114; */
}
.green{
    /* background-color: rgb(232, 255, 206); */
    color: green;
}
.delete-cell{
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: .7rem;
    border: none;
    cursor: pointer;
}
.swalert{
    font-size: .8rem;
}
