body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(225, 224, 224);
    font-family: sans-serif;
}
main{
    width: 100%;
    max-width:640px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}
h1{
    font-size: 1.3rem;
}
h2{
    font-size: 1.2rem;
    font-weight: 400;
}
h3{
    font-size: 1rem;
}


/* HEAD > INPUTS, RESUME -------------------------------- */
.head{
    /* width: fit-content; */
   /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
   
    /* flex-direction: column; */
    /* padding: 10px;
    border: 1px solid rgb(22, 22, 22); */
    /* overflow: hidden; */

}

/* INPUTS ---------------------------------------------- */
.inputs-container{
    width: auto;
    /* display: flex;
    flex-direction: column; */
   
}

.formulario{
    width: auto;
    display: flex;
    /* justify-content: start;
    align-self: start; */
    flex-direction: column;
    gap: 5px;
    /* margin: 20px 0; */
}
.formulario div input{
    padding: 5px; 
    border: 1px solid #1290ff;
   
    
}
.formulario-tipo{
    font-size: .8rem;
   
}
.segunda-fila{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.formulario-item input{
    width: 130px;
    }
.formulario-monto input{
    width: 80px;
}
.tercera-fila{
    display: flex;
    flex-wrap: wrap;
}
.formulario-categoria{
    display: flex;
    flex-wrap: wrap;
 }
.formulario-categoria select{
    width: 140px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #1290ff;
 }

.btn-add-categoria{
    border: none;
    text-align: left;
    background-color: transparent;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
}
.btn-add-categoria i{
    font-size: 1.5em;
    color: green;
}
.btn-add-categoria:hover i{
    color: blueviolet;
}
.toggle{
    display: none;
}

 .input-search-wrapper input{
    width: auto;

}
.cuarta-fila{
    margin: 10px 0 25px 0;
    display: flex;
    flex-wrap: wrap;
}

.submit-btn{
    padding: 12px 16px;
    text-transform: uppercase;
    background-color: #1290ff;
    color: beige;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #0257a1;
}

/* RESUME ---------------------------------------------- */
.resume-container{
    width: auto;
    
    
}
.resume-items h3{
    padding: 5px;
    font-weight: 300;
}
.resume-items h3 span{
    padding: 5px;
    font-weight: 600;
}

.saldo-item span{
    font-size: 1.4rem;
   
}




/* TABLA ---------------------------------------------- */
.table-container{
    width: auto;
    overflow-x: auto;
    overflow-y: auto;
}
.tabla{
    width: 100%;
    border-collapse: collapse;
    
    
}
.tabla, th, td{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    
}
tr > th{
    font-weight: 400;
    font-size: .9rem;
    color: rgb(255, 255, 255);
}

thead{
    background-color: rgb(66, 66, 66);
}
tbody{
    background-color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: .8rem;
}


/* CLASSLIST ADD --------------------------------------- */
.red{
    /* background-color: rgb(254, 214, 214); */
    color: rgb(255, 51, 51);
    /* color: #ffb114; */
}
.green{
    /* background-color: rgb(232, 255, 206); */
    color: rgb(24, 122, 0);
}
.l-blue{
    /* background-color: rgb(232, 255, 206); */
    color: #1290ff;
}
.delete-cell{
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: .7rem;
    border: none;
    cursor: pointer;
}
.swalert{
    font-size: .8rem;
}
.hide{
    visibility: hidden;
}

/* INFO DOLAR API --------------------------------------- */

.info-fecha-completa{
   margin-bottom: 10px ;
}
.info-dolar-api{
    gap: 10px;
    font-size: .8rem;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    margin-bottom: 25px;
    
}
.info-dolar-api li{
    list-style: none;
}
.moneda-titulo{
    font-weight: 600;
}
.para-la-compra{
    color: blueviolet;
    font-weight: 600;

}
.para-la-venta{
    color: rgb(24, 122, 0);
    font-weight: 600;
    font-size: .9rem;
}